//-//////////////////////////////////
//- Layout
//-//////////////////////////////////

extends _layouts/master.jade


//-//////////////////////////////////
//- Vars
//-//////////////////////////////////

append vars
	//- - global.page.title.postfix = 'Home'


//-//////////////////////////////////
//- Content
//-//////////////////////////////////

append body-content
	include _content/home/main-content.jade
	include _content/home/web-development-skills.jade
	include _content/home/website-portfolio.jade
	include _content/home/graphic-design-portfolio.jade
