//-//////////////////////////////////
//- Site Header
//-//////////////////////////////////

a(name="home")
header.site-header#home(data-magellan-destination="home")
	.row
		.small-12.columns
			h1.site-header__heading Kevin Ghadyani #{''}
				small.site-header__subheading Web&nbsp;Developer

header.row
	.small-12.medium-8.large-6.columns
		p.site-header__paragraph.
			I developed a passion for creating websites when I was 12. Just as the entire web world has grown and changed, so have my abilities. This site is a showcase of my current talents in Web Development.

header.magellan-container(data-magellan-expedition='fixed')
	.row.collapse
		.small-12.columns
			dl.sub-nav.sub-nav--magellan
				dd(data-magellan-arrival='home')
					a(href='#home') Home
				dd(data-magellan-arrival='web-development-skills')
					a(href='#web-development-skills') Skills
				dd(data-magellan-arrival='website-portfolio')
					a(href='#website-portfolio') Sites
				dd(data-magellan-arrival='graphic-design-portfolio')
					a(href='#graphic-design-portfolio') Graphics
