//-//////////////////////////////////
//- Site Header Navigation
//-//////////////////////////////////

.row.collapse
	.small-24.columns.site-header-nav.content-container--border-right--bold
		ul.pull-right.site-header-nav__list
			li.site-header-nav__item: a.site-header-nav__link(href="/markets") Markets
			li.site-header-nav__item: a.site-header-nav__link(href="/brands") Brands
			li.site-header-nav__item: a.site-header-nav__link(href="/about") About
