//-//////////////////////////////////
//- Graphic Design Portfolio
//-//////////////////////////////////

.row
	.small-12.columns


		//- Heading
		a(name="graphic-design-portfolio")
		hgroup#graphic-design-portfolio(data-magellan-destination="graphic-design-portfolio")
			h2.section-heading Graphic Design Portfolio
			h3.section-subheading 2006-08


		//- Thumbnails
		ul.small-block-grid-3.medium-block-grid-6
			li
				a(href="/assets/img/graphic-design/full/01-ddr-club-avatars-2008.png")
					img(src="/assets/img/graphic-design/thumbnail/01-ddr-club-avatars-2008.png")
			li
				a(href="/assets/img/graphic-design/full/02-posters-page-1.png")
					img(src="/assets/img/graphic-design/thumbnail/02-posters-page-1.png")
			li
				a(href="/assets/img/graphic-design/full/03-posters-page-2.png")
					img(src="/assets/img/graphic-design/thumbnail/03-posters-page-2.png")
			li
				a(href="/assets/img/graphic-design/full/04-ddr-club-logos.png")
					img(src="/assets/img/graphic-design/thumbnail/04-ddr-club-logos.png")
			li
				a(href="/assets/img/graphic-design/full/05-random-others-1.png")
					img(src="/assets/img/graphic-design/thumbnail/05-random-others-1.png")
			li
				a(href="/assets/img/graphic-design/full/06-random-others-2.png")
					img(src="/assets/img/graphic-design/thumbnail/06-random-others-2.png")


		//- Content
		.row
			.medium-12.columns
				p.
					I created several graphics for an organization that I started led at the University of Missouri-Kansas City as well as did many projects for the School of Computing and Engineering.
