//-//////////////////////////////////
//- Graphic Design Portfolio
//-//////////////////////////////////

.row
	.small-12.columns


		//- Heading
		hgroup#graphic-design-portfolio
			h2.section-heading Graphic Design Portfolio
			h3.section-subheading Some of the better designs I made in 2006-08


		//- Thumbnails
		ul.small-block-grid-3.medium-block-grid-6
			li
				a(href="/assets/img/graphic-design/full/01-ddr-club-avatars-2008.png")
					img(src="/assets/img/graphic-design/thumbnail/01-ddr-club-avatars-2008.png")
			li
				a(href="/assets/img/graphic-design/full/02-posters-page-1.png")
					img(src="/assets/img/graphic-design/thumbnail/02-posters-page-1.png")
			li
				a(href="/assets/img/graphic-design/full/03-posters-page-2.png")
					img(src="/assets/img/graphic-design/thumbnail/03-posters-page-2.png")
			li
				a(href="/assets/img/graphic-design/full/04-ddr-club-logos.png")
					img(src="/assets/img/graphic-design/thumbnail/04-ddr-club-logos.png")
			li
				a(href="/assets/img/graphic-design/full/05-random-others-1.png")
					img(src="/assets/img/graphic-design/thumbnail/05-random-others-1.png")
			li
				a(href="/assets/img/graphic-design/full/06-random-others-2.png")
					img(src="/assets/img/graphic-design/thumbnail/06-random-others-2.png")


		//- Content
		.row
			.medium-6.columns
				p.
					As tradition had it, 2008 was another year for the DDR Club avatars. This time, the designer wouldn’t be an artist. Instead of handing off the reigns of this project to another person, the idea of using random action-time photographs Photoshop came to mind as a suitable way to spice up the 2008 avatars.
				p.
					While it wasn’t easy to find time for this 15-member project, mornings were used to complete at least one or even two per day to make the work complete within a few weeks. Most of the time was taken finding and croping two or three photos to try and find one that would work best for this project.
				p.
					After the entire project was finished, a large 14” x 51” good-bye poster was designed. Just one week was left before before one of the members was leaving to live back in Brazil finishing her 6-month school term. With everyone’s  caring signatures on it, the poster was revealed to her on her last DDR Night and the last DDR Night ever like it. Her tears and thanks that night  will never be forgotten.

			.medium-6.columns
				p.
					DDR Inferno was the equivilent of DDR Night during the summer semester. The reason for the name change to avoid confusion because the summer DDR Inferno took place during the afternoon, and not at night. A clear separation was needed to define a difference and DDR Inferno was it. This was the third and final poster for the event. The hand-made flames took many hours to make.
				p.
					Anna E Garcia is an aspiring jazz trumpet player going to school at the University of Missouri-Kansas City. This poster marks her third recital realing it a new style of poster to announce the event. Out of all the black and white posters on white or colored paper, this poster sure did a good job to stand out and announce that Anna’s playing wasn’t like the others’.

			.medium-6.columns
				p.
					The School of Computing &amp; Engineering (SCE) was looking for innovation and character in their advertisements. Instead of being stuck with the same drab posts or handouts made in Word, a part-time office position was opened up to complete a number of tasks with one of them  being the making of new kinds of posters and logos for use in those posters. The clear identification of what the School of Computing &amp; Enginnering stood for needed to be prominently displayed side by side with their vision for excellence and the need to educate high schoolers on what SCE was really about.
				p.
					The five major disciplins were each mapped out according to their job output and then put on degree cards and posters like these two to help instill the notion of choice. The future is in the way of how much a university is willing to educate future students on what they have to offer and SCE was doing just that.

			.medium-6.columns
				p.
					The School of Computing &amp; Engineering (SCE) was looking for innovation and character in their advertisements. Instead of being stuck with the same drab posts or handouts made in Word, a part-time office position was opened up to complete a number of tasks with one of them  being the making of new kinds of posters and logos for use in those posters. The clear identification of what the School of Computing &amp; Enginnering stood for needed to be prominently displayed side by side with their vision for excellence and the need to educate high schoolers on what SCE was really about.
				p.
					The five major disciplins were each mapped out according to their job output and then put on degree cards and posters like these two to help instill the notion of choice. The future is in the way of how much a university is willing to educate future students on what they have to offer and SCE was doing just that.

			.medium-6.columns
				p.
					Shown in order of the events, DDR Night actually came before DDR Club. It was originally just a night, a gathering, of people and turned into throngs of bystanders and passer-bys looking in to see and be a part of DDR Night. By that point in time, the club was on its way to be officially recognized by the university. Soon after, competitions and some non-DDR events appeared in the mix. A number of which, prior to the community events, became branded and given an official DDR Club logo. Certain events like Birthday Bowling, a celebration of the birth of DDR Night, were later additions coming out when the club was moving to a different kind of community culture.
				p.
					During the logo days, the entire aspect of posters changed around. A logo of the event would be attached to each and every poster to signify the event at hand and also get the word out that it’s all connected to this same, one and only, UMKC DDR Club. Even with the social stigmats surrounding playing a game like DDR, the club was able to thrive and gain a enough of a presence around the university and in the community that it would be stranger to find someone that did not know of the  UMKC DDR Club, than it would to find someone that did.
				p.
					As the club began to travel around the midwest and even further than that a few times, the UMKC DDR Club name became known for the difference in culture, attitudes, and devotion that most other university and arcade groups had experienced. The club even got around to making itself even more well-known through the use of creative t-shirts and memorabilia.

			.medium-6.columns
				p.
					The American Society of Engineers asked for their posted to be remade into what’s pictures on the right
				p.
					Front and back to the only published UMKC DDR Club Newsletter

			.medium-6.columns
				p.
					A Survival sheet for incoming freshmen or transfer students for the Computer Science &amp; Electrical Engineering program
				p.
					Front of the degree card for the Mechanical Engeineering degree program.
