//-//////////////////////////////////
//- Graphic Design Portfolio
//-//////////////////////////////////

.row.content-separator
	.small-12.columns


		//- Heading
		a(name="graphic-design-portfolio")
		hgroup#graphic-design-portfolio(data-magellan-destination="graphic-design-portfolio")
			h2.section-heading Graphic Design Portfolio
			h3.section-subheading 2006-08


.row
	.small-12.medium-6.columns


		//- Content
		p.
			I created many graphic designs over the years before I went full-time in web development. These are a few I did for an organization I started, the UMKC DDR Club, at the University&nbsp;of Missouri-Kansas&nbsp;City.


	.small-12.medium-6.columns


		//- Thumbnails
		ul.small-block-grid-3.clearing-thumbs(data-clearing)
			li
				a.th.radius(href="/assets/img/graphic-design/full/01-ddr-club-logos.jpg")
					img(src="/assets/img/graphic-design/thumbnail/01-ddr-club-logos.png")
			li
				a.th.radius(href="/assets/img/graphic-design/full/02-ddr-club-newsletter.jpg")
					img(src="/assets/img/graphic-design/thumbnail/02-ddr-club-newsletter.png")
			li
				a.th.radius(href="/assets/img/graphic-design/full/03-ddr-inferno-poster.jpg")
					img(src="/assets/img/graphic-design/thumbnail/03-ddr-inferno-poster.png")
