//-//////////////////////////////////
//- Web Development Skills
//-//////////////////////////////////

.row
	.small-12.columns


		//- Heading
		a(name="web-development-skills")
		hgroup#web-development-skills(data-magellan-destination="web-development-skills")
			h2.section-heading Web Development Skills
			h3.section-subheading Last updated August 27, 2014


.row.collapse
	.small-12.columns


		//- Skills
		article.subsection.subsection--padding
			h3.subsection-heading#frontend-technologies Frontend Technologies

			h4.subsection-subheading HTML
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5")
						i.icon-html5.skills-list__icon
						| &nbsp;
						| HTML5
				li.skills-list__item
					a.skills-list__item-inner(href="http://jade-lang.com/")
						i.hide-for-medium-up.icon-fake--does-not-exist.skills-list__icon
						span.hide-for-medium-up &nbsp;&nbsp;
						| Jade
				li.skills-list__item
					a.skills-list__item-inner(href="http://daringfireball.net/projects/markdown/")
						i.icon-star-circled.skills-list__icon
						| &nbsp;
						| Markdown
				li.skills-list__item
					a.skills-list__item-inner(href="https://en.wikipedia.org/wiki/Responsive_Web_Design")
						i.icon-mobile-device.skills-list__icon
						| &nbsp;
						| Responsive Design

			h4.subsection-subheading CSS
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3?redirectlocale=en-US&redirectslug=CSS%2FCSS3")
						i.icon-css3.skills-list__icon
						| &nbsp;
						| CSS3
				li.skills-list__item
					a.skills-list__item-inner(href="http://learnboost.github.io/stylus/")
						i.icon-stylus-alt.skills-list__icon
						| &nbsp;
						| Stylus
				li.skills-list__item
					a.skills-list__item-inner(href="http://sass-lang.com/")
						i.icon-sass.skills-list__icon
						| &nbsp;
						| Sass
				li.skills-list__item
					a.skills-list__item-inner(href="http://lesscss.org/")
						i.hide-for-medium-up.icon-fake--does-not-exist.skills-list__icon
						span.hide-for-medium-up &nbsp;&nbsp;
						| LESS

			h4.subsection-subheading JavaScript
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.ecma-international.org/publications/standards/Ecma-262.htm")
						i.icon-javascript.skills-list__icon
						| &nbsp;
						| JavaScript
						| &nbsp;
						small.skills-list__parenthetical (standard ECMAScript)
				li.skills-list__item
					a.skills-list__item-inner(href="http://coffeescript.org/")
						i.icon-coffee-bean.skills-list__icon
						| &nbsp;
						| CoffeeScript
				li.skills-list__item
					a.skills-list__item-inner(href="http://jquery.com/")
						i.icon-jquery.skills-list__icon
						| &nbsp;
						| jQuery

		article.subsection.subsection--padding
			h3.subsection-heading Backend Technologies

			h4.subsection-subheading Content Management Systems (CMS)
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="https://wordpress.org/")
						i.icon-wordpress.skills-list__icon
						| &nbsp;
						| WordPress
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.joomla.org/")
						i.icon-joomla.skills-list__icon
						| &nbsp;
						| Joomla
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.drupal.org/")
						i.icon-drupal.skills-list__icon
						| &nbsp;
						| Drupal
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.bettercms.com/")
						//- i.icon-joomla.skills-list__icon
						//- | &nbsp;
						| Better CMS
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.sitefinity.com/")
						//- i.icon-joomla.skills-list__icon
						//- | &nbsp;
						| Telerik Sitefinity
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.adobe.com/solutions/web-experience-management.html?promoid=JRSLF")
						i.icon-cq5.skills-list__icon
						| &nbsp;
						| Adobe CQ5

			h4.subsection-subheading Languages
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="https://httpd.apache.org/")
						i.icon-apache.skills-list__icon
						| &nbsp;
						| Apache
				li.skills-list__item
					a.skills-list__item-inner(href="http://php.net/")
						i.icon-php-alt.skills-list__icon
						| &nbsp;
						| PHP
				li.skills-list__item
					a.skills-list__item-inner(href="http://nodejs.org/")
						i.icon-nodejs.skills-list__icon
						| &nbsp;
						| NodeJS
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.lua.org/")
						i.icon-lua.skills-list__icon
						| &nbsp;
						| Lua
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.ruby-lang.org/en/")
						//- i.icon-csharp.skills-list__icon
						//- | &nbsp;
						| Ruby
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.python.org/")
						i.icon-python.skills-list__icon
						| &nbsp;
						| Python
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.microsoft.com/net")
						i.icon-csharp.skills-list__icon
						| &nbsp;
						| C#.NET
				li.skills-list__item
					a.skills-list__item-inner(href="http://isocpp.org/")
						i.icon-cplusplus.skills-list__icon
						| &nbsp;
						| C++
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.gnu.org/software/bash/")
						i.icon-script.skills-list__icon
						| &nbsp;
						| Bash
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.java.com/en/")
						i.icon-java.skills-list__icon
						| &nbsp;
						| Java

			h4.subsection-subheading Frameworks
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="http://laravel.com/")
						i.icon-laravel-slant.skills-list__icon
						| &nbsp;
						| Laravel
				li.skills-list__item
					a.skills-list__item-inner(href="http://ellislab.com/codeigniter/")
						i.icon-fire-alt.skills-list__icon
						| &nbsp;
						| CodeIgniter
				li.skills-list__item
					a.skills-list__item-inner(href="http://rubyonrails.org/")
						i.icon-ruby-on-rails.skills-list__icon
						| &nbsp;
						| Ruby on Rails

		article.subsection.subsection--padding
			h3.subsection-heading Other Technologies

			h4.subsection-subheading Creative Products
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.adobe.com/au/products/cs6.html")
						i.icon-adobe.skills-list__icon
						| &nbsp;
						| Adobe Creative Suite
				li.skills-list__item
					a.skills-list__item-inner(href="https://office.microsoft.com/en-us/")
						i.icon-microsoft-office.skills-list__icon
						| &nbsp;
						| Microsoft Office Suite

			h4.subsection-subheading Databases
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.mysql.com/")
						i.icon-mysql.skills-list__icon
						| &nbsp;
						| MySQL
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.microsoft.com/en-us/sqlserver/default.aspx")
						i.icon-mssql.skills-list__icon
						| &nbsp;
						| Microsoft SQL

			h4.subsection-subheading Repositories
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.git-scm.com/")
						i.icon-github.skills-list__icon
						| &nbsp;
						| Git
				li.skills-list__item
					a.skills-list__item-inner(href="http://mercurial.selenic.com/")
						i.hide-for-medium-up.icon-fake--does-not-exist.skills-list__icon
						span.hide-for-medium-up &nbsp;&nbsp;
						| Mercurial
				li.skills-list__item
					a.skills-list__item-inner(href="https://subversion.apache.org/")
						i.hide-for-medium-up.icon-fake--does-not-exist.skills-list__icon
						span.hide-for-medium-up &nbsp;&nbsp;
						| SVN

		article.subsection.subsection--padding
			h3.subsection-heading Browsers
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="http://microsoft.com/ie")
						i.icon-ie.skills-list__icon
						| &nbsp;
						| Microsoft Internet Explorer
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.mozilla.org/en-US/firefox/new/")
						i.icon-firefox.skills-list__icon
						| &nbsp;
						| Mozilla Firefox
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.google.com/intl/en/chrome/browser/")
						i.icon-chrome.skills-list__icon
						| &nbsp;
						| Google Chrome
						| #{''}
						small.skills-list__parenthetical (and Android)
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.apple.com/safari/")
						i.icon-apple.skills-list__icon
						| &nbsp;
						| Safari
						| #{''}
						small.skills-list__parenthetical (and iOS)
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.opera.com/")
						i.icon-opera.skills-list__icon
						| &nbsp;
						| Opera

		article.subsection.subsection--padding
			h3.subsection-heading Systems

			h4.subsection-subheading Operating Systems
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="http://windows.microsoft.com/en-us/windows/home")
						i.icon-win8.skills-list__icon
						| &nbsp;
						| Microsoft Windows
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.ubuntu.com/")
						i.icon-ubuntu.skills-list__icon
						| &nbsp;
						| Ubuntu
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.debian.org/")
						i.icon-debian.skills-list__icon
						| &nbsp;
						| Debian
				li.skills-list__item
					a.skills-list__item-inner(href="http://linuxmint.com/")
						i.icon-linux-mint.skills-list__icon
						| &nbsp;
						| Linux Mint
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.freebsd.org/")
						//- i.icon-freebsd.skills-list__icon
						//- | &nbsp;
						| FreeBSD
				li.skills-list__item
					a.skills-list__item-inner(href="http://windows.microsoft.com/en-us/windows/home")
						i.icon-osx.skills-list__icon
						| &nbsp;
						| Apple Mac OS X

			h4.subsection-subheading Virtual Machines
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.parallels.com/")
						i.icon-parallels.skills-list__icon
						| &nbsp;
						| Parallels
				li.skills-list__item
					a.skills-list__item-inner(href="https://www.virtualbox.org/")
						| VirtualBox
				li.skills-list__item
					a.skills-list__item-inner(href="http://www.vmware.com/")
						| VMware

		//- References
		article.subsection.subsection--padding
			h3.subsection-heading Account References
			ul.block-grid-1.skills-list
				li.skills-list__item
					a.skills-list__item-inner(href="http://codeivate.com/users/saturn2888")
						i.icon-tasks.skills-list__icon
						| &nbsp;
						| Codeivate
				li.skills-list__item
					a.skills-list__item-inner(href="http://stackoverflow.com/users/1624862/saturn2888")
						i.icon-stackoverflow-1.skills-list__icon
						| &nbsp;
						| StackOverflow
