//-//////////////////////////////////
//- Website Portfolio
//-//////////////////////////////////

.row
	.small-12.columns


		//- Heading
		a(name="website-portfolio")
		hgroup#website-portfolio(data-magellan-destination="website-portfolio")
			h2.section-heading Website Portfolio
			h3.section-subheading More recent programs from 2011-2013


		//- Jobs
		h3.subsection-heading.subsection-heading--callout
			a(href="http://kevinghadyani.info") KevinGhadyani.info
			|  #{''}
			small (this website)
		p.
			February 2014

		h4 Build System
		ul
			li Self-developed Grunt automated workflow and build system

		h4 Content Management System or Backend Framework
		ul
			li Built using the Jade Templating engine

		h4 CSS &amp; JavaScript Frameworks
		ul
			li Foundation 5

		h4 Noteable Features
		ul
			li Mobile-first responsive design for all devices

		h4 Compatibility Requirements
		ul
			li IE8 and up


		h3.subsection-heading
			a(href="http://pulsengame.com") PulsenGame.com
		h2.portfolio-date December 2012
		p.
			Created, designed, and developed myself

		h4 Backend Framework and Content Management System
		ul
			li CodeIgniter 2
			li CKEditor 4

		h4 CSS &amp; JavaScript Frameworks
		ul
			li Foundation 3

		h4 Noteable Features
		ul
			li Responsive design for all devices

		h4 Compatibility Requirements
		ul
			li Graceful degredation back to IE8


		h3.subsection-heading
			a(href="http://www.biviultraduramune.com") BIVIUltraDuramune.com
		p.
			November 2012
		ul
			li Adobe CQ5
			li Foundation 3
			li Responsive design for all devices
			li Compatibility back to IE7


		h3.subsection-heading
			a(href="http://kchealthcarereform.org/") KCHealthCareReform.org
		p.
			May 2013
		ul
			li Built using the Jade Templating engine
			li Foundation 3
			li Responsive design for all devices
			li Compatibility back to IE8


		h3.subsection-heading
			a(href="http://romcorp.com") ROMCorp.com
		p.
			April 2013
		ul
			li WordPress
			li Joomla
			li Bootstrap 2
			li Responsive design for all devices
			li Compatibility back to IE8
