//-//////////////////////////////////
//- Website Portfolio
//-//////////////////////////////////

.row.content-separator
	.small-12.columns


		//- Heading
		a(name="website-portfolio")
		hgroup#website-portfolio(data-magellan-destination="website-portfolio")
			h2.section-heading Website Portfolio
			h3.section-subheading Some recent sites from 2013-14


.row.collapse
	.small-12.columns


		//- marketing.spirit.com
		article.subsection.portfolio-section
			hgroup.subsection-heading__container
				h3.subsection-heading.subsection-heading--callout.subsection-heading--callout--round-bottom-right
					a.subsection-heading__link(href="http://marketing.spirit.com/how-to-fly-spirit-airlines/kc/") Marketing.Spirit.com
				h4.subsection-subheading.subsection-heading--callout.subsection-heading--callout--round-bottom-left.portfolio-date.
					June 2014

			.clearfix
				ul.clearing-thumbs.clearing-feature.subsection--padding.subsection--float-right(data-clearing)
					li.clearing-featured-img
						a.th.radius(href="/assets/img/websites/full/marketing.spirit.com/01.png")
							img(src="/assets/img/websites/thumbnail/marketing.spirit.com/01.png", data-caption="Mobile View")
					li
						a.th.radius(href="/assets/img/websites/full/marketing.spirit.com/02.png")
							img(src="/assets/img/websites/thumbnail/marketing.spirit.com/02.png", data-caption="Tablet View")
					li
						a.th.radius(href="/assets/img/websites/full/marketing.spirit.com/03.png")
							img(src="/assets/img/websites/thumbnail/marketing.spirit.com/03.png", data-caption="Desktop View")

				dl.subsection--padding
					dt.portfolio-heading Build System
					dd.portfolio-description Self-developed Grunt automated workflow and build system

					dt.portfolio-heading Content Management System or Backend Framework
					dd.portfolio-description Built using the Jade Templating engine

					dt.portfolio-heading Frontend Frameworks
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Zurb Foundation 5
							li.portfolio-description__item jQuery

					dt.portfolio-heading Noteable Features
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Dual-language design with one template
							li.portfolio-description__item Mobile-first responsive design for all devices
							li.portfolio-description__item Easily updatable code

					dt.portfolio-heading Compatibility Requirements
					dd.portfolio-description IE8 and up


		//- HateThousandMiles.com
		article.subsection.portfolio-section
			hgroup.subsection-heading__container
				h3.subsection-heading.subsection-heading--callout.subsection-heading--callout--round-bottom-right
					a.subsection-heading__link(href="http://hatethousandmiles.com") HateThousandMiles.com
				h4.subsection-subheading.subsection-heading--callout.subsection-heading--callout--round-bottom-left.portfolio-date.
					May 2014

			.clearfix
				ul.clearing-thumbs.clearing-feature.subsection--padding.subsection--float-right(data-clearing)
					li.clearing-featured-img
						a.th.radius(href="/assets/img/websites/full/hatethousandmiles.com/01.png")
							img(src="/assets/img/websites/thumbnail/hatethousandmiles.com/01.png", data-caption="Mobile View")
					li
						a.th.radius(href="/assets/img/websites/full/hatethousandmiles.com/02.png")
							img(src="/assets/img/websites/thumbnail/hatethousandmiles.com/02.png", data-caption="Tablet View")
					li
						a.th.radius(href="/assets/img/websites/full/hatethousandmiles.com/03.png")
							img(src="/assets/img/websites/thumbnail/hatethousandmiles.com/03.png", data-caption="Desktop View")

				dl.subsection--padding
					dt.portfolio-heading Build System
					dd.portfolio-description Self-developed Grunt automated workflow and build system

					dt.portfolio-heading Content Management System or Backend Framework
					dd.portfolio-description Built using the Jade Templating engine

					dt.portfolio-heading Frontend Frameworks
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Zurb Foundation 5
							li.portfolio-description__item jQuery

					dt.portfolio-heading Noteable Features
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Mobile-first responsive design for all devices
							li.portfolio-description__item Easily updatable code

					dt.portfolio-heading Compatibility Requirements
					dd.portfolio-description IE8 and up


		//- KevinGhadyani.info
		article.subsection.portfolio-section
			hgroup.subsection-heading__container
				h3.subsection-heading.subsection-heading--callout.subsection-heading--callout--round-bottom-right
					a.subsection-heading__link(href="http://kevinghadyani.info") KevinGhadyani.info
					|  #{''}
					small.subsection-heading--callout__small (this website)
				h4.subsection-subheading.subsection-heading--callout.subsection-heading--callout--round-bottom-left.portfolio-date.
					February 2014

			.clearfix
				ul.clearing-thumbs.clearing-feature.subsection--padding.subsection--float-right(data-clearing)
					li.clearing-featured-img
						a.th.radius(href="/assets/img/websites/full/kevinghadyani.info/01.png")
							img(src="/assets/img/websites/thumbnail/kevinghadyani.info/01.png", data-caption="Mobile View")
					li
						a.th.radius(href="/assets/img/websites/full/kevinghadyani.info/02.png")
							img(src="/assets/img/websites/thumbnail/kevinghadyani.info/02.png", data-caption="Tablet View")
					li
						a.th.radius(href="/assets/img/websites/full/kevinghadyani.info/03.png")
							img(src="/assets/img/websites/thumbnail/kevinghadyani.info/03.png", data-caption="Desktop View")
					li
						a.th.radius(href="/assets/img/websites/full/kevinghadyani.info/04.png")
							img(src="/assets/img/websites/thumbnail/kevinghadyani.info/04.png", data-caption="Full-screen Desktop View")

				dl.subsection--padding
					dt.portfolio-heading Build System
					dd.portfolio-description Self-developed Grunt automated workflow and build system

					dt.portfolio-heading Content Management System or Backend Framework
					dd.portfolio-description Built using the Jade Templating engine

					dt.portfolio-heading Frontend Frameworks
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Zurb Foundation 5
							li.portfolio-description__item jQuery

					dt.portfolio-heading Noteable Features
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Created from scratch in one day
							li.portfolio-description__item Mobile-first responsive design for all devices

					dt.portfolio-heading Compatibility Requirements
					dd.portfolio-description IE8 and up


		//- KCHealthcareReform.org
		article.subsection.portfolio-section
			hgroup.subsection-heading__container
				h3.subsection-heading.subsection-heading--callout.subsection-heading--callout--round-bottom-right
					a.subsection-heading__link(href="http://kchealthcarereform.org/") KCHealthcareReform.org
				h4.subsection-subheading.subsection-heading--callout.subsection-heading--callout--round-bottom-left.portfolio-date.
					May 2013

			.clearfix
				ul.clearing-thumbs.clearing-feature.subsection--padding.subsection--float-right(data-clearing)
					li.clearing-featured-img
						a.th.radius(href="/assets/img/websites/full/kchealthcarereform.org/01.png")
							img(src="/assets/img/websites/thumbnail/kchealthcarereform.org/01.png", data-caption="Homepage Mobile View")
					li
						a.th.radius(href="/assets/img/websites/full/kchealthcarereform.org/02.png")
							img(src="/assets/img/websites/thumbnail/kchealthcarereform.org/02.png", data-caption="Homepage Desktop View")
					li
						a.th.radius(href="/assets/img/websites/full/kchealthcarereform.org/03.png")
							img(src="/assets/img/websites/thumbnail/kchealthcarereform.org/03.png", data-caption="Custom Search Page")
					li
						a.th.radius(href="/assets/img/websites/full/kchealthcarereform.org/04.png")
							img(src="/assets/img/websites/thumbnail/kchealthcarereform.org/04.png", data-caption="Contact Page Mobile View")
					li
						a.th.radius(href="/assets/img/websites/full/kchealthcarereform.org/05.png")
							img(src="/assets/img/websites/thumbnail/kchealthcarereform.org/05.png", data-caption="Contact Page Desktop View")
					li
						a.th.radius(href="/assets/img/websites/full/kchealthcarereform.org/06.png")
							img(src="/assets/img/websites/thumbnail/kchealthcarereform.org/06.png", data-caption="Custom Blog Page")

				dl.subsection--padding
					dt.portfolio-heading Associated Organization
					dd.portfolio-description: a(href="http://group3solutions.com") Group 3 Solutions

					dt.portfolio-heading Backend Framework and Content Management System
					dd.portfolio-description Built using a custom implementation of the Jade Templating engine as a completely static site with JavaScript AJAX search and filtering

					dt.portfolio-heading Frontend Frameworks
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Zurb Foundation 4
							li.portfolio-description__item jQuery

					dt.portfolio-heading Noteable Features
					dd.portfolio-description Unique static-HTML searching via JavaScript and pre-compiled indexes

					dt.portfolio-heading Compatibility Requirements
					dd.portfolio-description Compatibility back to IE8


		//- LangdonEmison.com
		article.subsection.portfolio-section
			hgroup.subsection-heading__container
				h3.subsection-heading.subsection-heading--callout.subsection-heading--callout--round-bottom-right
					a.subsection-heading__link(href="http://langdonemison.com") LangdonEmison.com
				h4.subsection-subheading.subsection-heading--callout.subsection-heading--callout--round-bottom-left.portfolio-date.
					April 2013

			.clearfix
				ul.clearing-thumbs.clearing-feature.subsection--padding.subsection--float-right(data-clearing)
					li.clearing-featured-img
						a.th.radius(href="/assets/img/websites/full/langdonemison.com/01.png")
							img(src="/assets/img/websites/thumbnail/langdonemison.com/01.png", data-caption="Mobile View")
					li
						a.th.radius(href="/assets/img/websites/full/langdonemison.com/02.png")
							img(src="/assets/img/websites/thumbnail/langdonemison.com/02.png", data-caption="Tablet View")
					li
						a.th.radius(href="/assets/img/websites/full/langdonemison.com/03.png")
							img(src="/assets/img/websites/thumbnail/langdonemison.com/03.png", data-caption="Desktop View")
					li
						a.th.radius(href="/assets/img/websites/full/langdonemison.com/04.png")
							img(src="/assets/img/websites/thumbnail/langdonemison.com/04.png", data-caption="Large Desktop View")
					li
						a.th.radius(href="/assets/img/websites/full/langdonemison.com/05.png")
							img(src="/assets/img/websites/thumbnail/langdonemison.com/05.png", data-caption="Full-screen Desktop View")

				dl.subsection--padding
					dt.portfolio-heading Associated Organizations
					dd.portfolio-description
						a(href="http://group3solutions.com") Group 3 Solutions
						| #{''}
						| and
						| #{''}
						a(href="http://www.quickcadence.com/") Quick Cadence Consulting

					dt.portfolio-heading Backend Framework and Content Management System
					dd.portfolio-description Built as standard HTML and CSS around an already-existing Ruby on Rails framework

					dt.portfolio-heading Frontend Frameworks
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Zurb Foundation 4
							li.portfolio-description__item jQuery

					dt.portfolio-heading Noteable Features
					dd.portfolio-description Responsive design for all devices

					dt.portfolio-heading Compatibility Requirements
					dd.portfolio-description Graceful degredation all the way back to IE8


		//- ROMCorp.com
		article.subsection.portfolio-section
			hgroup.subsection-heading__container
				h3.subsection-heading.subsection-heading--callout.subsection-heading--callout--round-bottom-right
					a.subsection-heading__link(href="http://romcorp.com") ROMCorp.com
				h4.subsection-subheading.subsection-heading--callout.subsection-heading--callout--round-bottom-left.portfolio-date.
					June 2013

			.clearfix
				ul.clearing-thumbs.clearing-feature.subsection--padding.subsection--float-right(data-clearing)
					li.clearing-featured-img
						a.th.radius(href="/assets/img/websites/full/romcorp.com/01.png")
							img(src="/assets/img/websites/thumbnail/romcorp.com/01.png", data-caption="Homepage")
					li
						a.th.radius(href="/assets/img/websites/full/romcorp.com/02.png")
							img(src="/assets/img/websites/thumbnail/romcorp.com/02.png", data-caption="Homepage w/ Super Menu")
					li
						a.th.radius(href="/assets/img/websites/full/romcorp.com/03.png")
							img(src="/assets/img/websites/thumbnail/romcorp.com/03.png", data-caption="Product Page")
					li
						a.th.radius(href="/assets/img/websites/full/romcorp.com/04.png")
							img(src="/assets/img/websites/thumbnail/romcorp.com/04.png", data-caption="Modal Window w/ YouTube Video")

				dl.subsection--padding
					dt.portfolio-heading Associated Organization
					dd.portfolio-description: a(href="http://group3solutions.com") Group 3 Solutions

					dt.portfolio-heading Backend Framework and Content Management System
					dd.portfolio-description Both WordPress 3.x and Joomla 3.x are used together, communicating over AJAX with many database links so content in one CMS is accessible in the other

					dt.portfolio-heading Frontend Frameworks
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Bootstrap 2
							li.portfolio-description__item jQuery
							li.portfolio-description__item AJAX
							li.portfolio-description__item PointerEvents Polyfill

					dt.portfolio-heading Noteable Features
					dd.portfolio-description Completely new menu navigation so touch devices can utilize the navigational functionality of the desktop website

					dt.portfolio-heading Compatibility Requirements
					dd.portfolio-description Compatibility back to IE8


		//- PulsenGame.com
		article.subsection.portfolio-section
			hgroup.subsection-heading__container
				h3.subsection-heading.subsection-heading--callout.subsection-heading--callout--round-bottom-right
					a.subsection-heading__link(href="http://pulsengame.com") PulsenGame.com
				h4.subsection-subheading.subsection-heading--callout.subsection-heading--callout--round-bottom-left.portfolio-date.
					December 2012

			.clearfix
				ul.clearing-thumbs.clearing-feature.subsection--padding.subsection--float-right(data-clearing)
					li.clearing-featured-img
						a.th.radius(href="/assets/img/websites/full/pulsengame.com/01.png")
							img(src="/assets/img/websites/thumbnail/pulsengame.com/01.png", data-caption="Homepage Mobile View")
					li
						a.th.radius(href="/assets/img/websites/full/pulsengame.com/02.png")
							img(src="/assets/img/websites/thumbnail/pulsengame.com/02.png", data-caption="Homepage Mobile View w/ Nav")
					li
						a.th.radius(href="/assets/img/websites/full/pulsengame.com/03.png")
							img(src="/assets/img/websites/thumbnail/pulsengame.com/03.png", data-caption="Homepage Tablet View")
					li
						a.th.radius(href="/assets/img/websites/full/pulsengame.com/04.png")
							img(src="/assets/img/websites/thumbnail/pulsengame.com/04.png", data-caption="Homepage Desktop View")
					li
						a.th.radius(href="/assets/img/websites/full/pulsengame.com/05.png")
							img(src="/assets/img/websites/thumbnail/pulsengame.com/05.png", data-caption="Homepage Full-screen")
					li
						a.th.radius(href="/assets/img/websites/full/pulsengame.com/06.png")
							img(src="/assets/img/websites/thumbnail/pulsengame.com/06.png", data-caption="Downloads Page Mobile View")
					li
						a.th.radius(href="/assets/img/websites/full/pulsengame.com/07.png")
							img(src="/assets/img/websites/thumbnail/pulsengame.com/07.png", data-caption="Downloads Page Desktop View")

				dl.subsection--padding
					dt.portfolio-heading Creation
					dd.portfolio-description Created, designed, and developed myself

					dt.portfolio-heading Backend Framework and Content Management System
					dd.portfolio-description Running on the CodeIgniter 2 framework for PHP using CKEditor 4 and a custom-made CMS to edit news posts

					dt.portfolio-heading Frontend Frameworks
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Zurb Foundation 3
							li.portfolio-description__item jQuery

					dt.portfolio-heading Noteable Features
					dd.portfolio-description Responsive design for all devices

					dt.portfolio-heading Compatibility Requirements
					dd.portfolio-description Graceful degredation all the way back to IE8


		//- BIVIUltraDuramune.com
		article.subsection.portfolio-section
			hgroup.subsection-heading__container
				h3.subsection-heading.subsection-heading--callout.subsection-heading--callout--round-bottom-right
					a.subsection-heading__link(href="http://www.biviultraduramune.com") BIVIUltraDuramune.com
				h4.subsection-subheading.subsection-heading--callout.subsection-heading--callout--round-bottom-left.portfolio-date.
					November 2012

			.clearfix
				ul.clearing-thumbs.clearing-feature.subsection--padding.subsection--float-right(data-clearing)
					li.clearing-featured-img
						a.th.radius(href="/assets/img/websites/full/biviultraduramune.com/01.png")
							img(src="/assets/img/websites/thumbnail/biviultraduramune.com/01.png", data-caption="Mobile View")
					li
						a.th.radius(href="/assets/img/websites/full/biviultraduramune.com/02.png")
							img(src="/assets/img/websites/thumbnail/biviultraduramune.com/02.png", data-caption="Tablet View")
					li
						a.th.radius(href="/assets/img/websites/full/biviultraduramune.com/03.png")
							img(src="/assets/img/websites/thumbnail/biviultraduramune.com/03.png", data-caption="Desktop View")
					li
						a.th.radius(href="/assets/img/websites/full/biviultraduramune.com/04.png")
							img(src="/assets/img/websites/thumbnail/biviultraduramune.com/04.png", data-caption="Large Desktop View")
					li
						a.th.radius(href="/assets/img/websites/full/biviultraduramune.com/05.png")
							img(src="/assets/img/websites/thumbnail/biviultraduramune.com/05.png", data-caption="Full-screen Desktop View")

				dl.subsection--padding
					dt.portfolio-heading Associated Organization
					dd.portfolio-description: a(href="http://vml.com") VML, Inc

					dt.portfolio-heading Backend Framework and Content Management System
					dd.portfolio-description Adobe CQ5

					dt.portfolio-heading Frontend Frameworks
					dd.portfolio-description
						ul.portfolio-description__list
							li.portfolio-description__item Zurb Foundation 3
							li.portfolio-description__item jQuery

					dt.portfolio-heading Noteable Features
					dd.portfolio-description Responsive design for all devices

					dt.portfolio-heading Compatibility Requirements
					dd.portfolio-description Compatibility back to IE7
